<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was created by Ryder Clayton.  An adventure seeker on a mission to make a career change to web development.  
  </p>
  <br />
  <p>
    Exploring the trails of northern California since 2016. Here's to the next adventure!
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'ryder.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-left">Ryder Clayton</h2>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />