@import "bootstrap-sprockets";
@import "bootstrap";


.clear {
  clear:both;
}

.circle {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #6DB573;
  border: 1px solid #F7F7F7;
  width: 90px;
  height: 90px;
  margin: 10px 10px;
  text-align: center;
  color: #FFF;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  transform:rotate(11deg);
  -ms-transform:rotate(11deg); /* IE 9 */
  -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */

}

.slogan{
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-style: italic;
  padding-top: 26px;

}

.links{
  padding-top:26px;
}

.links a {
  color:black;
  font-size: 23px;
  border-bottom: 1px solid #879696;
  font-family: 'quicksandbold', sans-serif;
}

header {
  border-top: 9px solid #222222;
}

hr {
  clear:both;
}

h1 {
  font-family: 'quicksandbold', sans-serif;
  font-size: 48px;
}

h2 {
  font-family: 'quicksandregular', sans-serif;
  font-style: italic; 
}

.next-quote {
  color: #f84342;
  font-family: 'quicksandregular', sans-serif;
  font-style: italic; 
  font-weight: bold;
  font-size: 19px;
}

.footer-blurb {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 10px;
}

.logo:hover {
  text-decoration:none;
}